body{
  margin: 0px;
  padding: 0px;
  background: #ffed4a;


}

header{
  display: flex;
  justify-content:space-between;
  align-items: center;
  background: black;
  width: 100%;
}

#lado{
  margin: 10px;
}

#notas{
  display: flex;
  flex-wrap: wrap;
}

#headernota{
  display: flex;
  justify-content: flex-end;
  min-height: 25px;
  min-width: 200px;
  margin-top: 25px;
  background: black;
}


#container{
  display: flex;
  flex-direction: column;
  margin: 25px;
}

textarea{

  width: 200px;
  height: 200px;
  margin: 0px;
  padding: 13px;
  border: none;
  font-size: 15px;
}

#containerchk{
  display: flex;
  flex-direction: row;
}
/*Botões*/

#adicionar{
  background: none;
  border: none;
}
#fechar{
background: none;
border: none;
}

#apagar{
  background: none;
  border: none;
  color: white;
}

#expandir{
  background: none;
  border-radius: 100px;
  color: white;
  opacity: 0;
}

#exp{
  display:flex;
  color: white;
  border: none;
  background: none;
}

#check{
  background: none;
  border: none;
  color: white;
  display: none;
}
